#content {
    display: grid;
    justify-content: center;
    align-content: center;
}

#gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

[class*='square'] {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

[class*='square']:hover {
    background-color: red;
}