body {
    background-color: rgb(138, 138, 138);
    font-family: 'Raleway', sans-serif;

}

input {
    border: none;
    height: 2.5vh;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}
label {
    padding: 10px;
    margin-left: 10px;
}

form {
    font-family: 'Raleway', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Raleway', sans-serif;
    border-radius: 1vh;
    font-weight: bold;
    font-size: 1.5vh;
}


#content {
    display: grid;
    justify-content: center;
    align-content: center;
}

#gameboard{
    background-color: rgb(156, 151, 250);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

[class*='square'] {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;


}

[class*='square']:hover {
    background-color: rgb(190, 190, 190);
}



#buttonContainer {
    display: flex;
    justify-content: center;
    align-content: center;

    
    
}

button {
    width: 10vh;
    margin: 20px;
    border: none;
}

#scoreKeeper {
    display: flex;
    justify-content: center;
    font-size: 10vh;
}

#statusMessage {
    display: flex;
    justify-content: center;
    font-size: 3vh;
}